h1 {
 color: green;
}

p {
 font-size: 18px;
 color: black;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
table{
color: rgb(117, 50, 205);
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#footer {
   color: green;
}
body{
    background-color: #c3c7cf;
}
.header   {

    color: rgb(216, 12, 12);

}
ul {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}